@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.theme-light {
    --color-primary: #eef2f2;
    --color-secondary: #000653;
    --color-accent: #5494cc;
    --font-color: #000653;
    --sidebar-font-color: white;
    --ok-color: #9EFBAE;
    --attention-color: #e0e059;
}

.theme-dark {
    --color-primary: #000653;
    --color-secondary: #57649e;
    --color-accent: #60646b;
    --font-color: rgb(197, 197, 197);
    --sidebar-font-color: #000653;
    --ok-color: #156e39;
    --attention-color: #858531;
}

body {
    height: 100vh;
    background: var(--color-primary) !important;
}

.title-page{
    color: var(--font-color);
}

nav.sidebar{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90px;
    height: 100%;
    background-color: var(--color-secondary);
    padding: 40px 0;
    box-shadow: 2px 0 0;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: .3s;
    z-index: 2;
}

nav.sidebar:hover{
    width: 290px;
}

ul.list-nav{
    height: 100%;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-left: 0;
}

li.item-menu{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-self: flex-start;
    width: 100%;
}

ul.list-nav li.item-menu a{
    color: var(--sidebar-font-color);
    text-decoration: none;
    font-size: 15px;
    padding: 20px 10px;
    display: flex;
    align-items: center;
}

ul li.item-menu{
    transition: .4s;
}

ul li.item-menu:hover{
    background-color: #8a4110;
}

ul li.item-menu a .txt-link{
    margin-left: 40px;
}

ul li.item-menu a .icon > i{
    font-size: 25px;
    margin-left: 20px
}

.modal-content{
    background-color: var(--color-primary) !important;
}

.modal-content h5, .modal-content div form label i{
    color: var(--font-color);
}

.container{
    width: 80% !important;
    max-width: 100% !important;
}

.topActions, .topActions form{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topActions{
    height: 5vh;
    justify-content: space-between;
    width: 100%;
}

.topActions form{
    justify-content: center;
    align-items: center;
    gap: 10px
}

.topActions form input{
    width: 18vw;
    text-align: center;
    align-self: center;
}

.topActions form .input-pesquisa{
    margin: 0 !important;
}

.topActions .filtros{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px
}

th, td{
    font-size: 13px;
    color: var(--font-color);
}

.ok{
    background-color: var(--ok-color) !important;
}

.nome_fornecedor{
    cursor: pointer;
}

.attention{
    background-color: var(--attention-color) !important;
}

.txtModal{
    color: var(--font-color)
}

form[id='formAdicionarEditar'], form[id='formLogin']{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px
}

form[id='formAdicionarEditar'] label input, form[id='formLogin'] label input{
    padding: 10px;
    border: 1px solid rgba(109, 109, 109, 0.699);
    border-radius: 5px;
}

#modalActionButton.remove {
    background-color: red;
    border: none;
}

.container-login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #07244f;
    flex: 1;
}

.login-form-container {
    background-color: rgb(255, 255, 255);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    padding: 30px;
    text-align: center;
}

.login-form-container form div label i{
    color: #07244f;
}

.login-title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 10px;
}

.form-group label {
    display: flex;
    align-items: center;
    font-size: 16px;
}

.form-group i {
    font-size: 20px;
    margin-right: 10px;
    color: #007bff;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 16px;
    margin-top: 5px;
}

.btn-primary {
    background-color: #007bff;
    border: none;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn-primary:hover {
    background-color: #0056b3;
}

.alert {
    display: block;
}

